:root {
  --leigt-color-main: #5129f2;
  --leigt-color-main-light-1: #776bff;
  --leigt-color-main-light-2: #ffe9cd7a;
  --leigt-backgroud-color: white;
  --leigt-color-dark-black: black;
  --leigt-color-dark-gray: gray;
}
body {
  background-color: var(--leigt-backgroud-color);
}
